{% extends '::base.html.twig' %}
{% block title %}Administration{% endblock %}

{% block body %} <div>Salut salut me petites tartelettes préférées! :)</div>{% endblock %}

{#{% use 'EasyCloudBundle:Admin:sidebar_admin.html.twig' %}#}
